# AYU LESTARI GUNAWAN
# 2109106054

## Import library yang dibutuhkan

In [135]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

## Split Dataset
Membagi antara variabel x dan y, dimana x merupakan dataframe dengan isi kolom atribut independent dan Y berisi atribut hasil/dependant. Kemudian data di split dengan besaran test set=30%

In [136]:
data=pd.read_csv("dataset.csv")
x=data.drop("WnvPresent",axis=1)
y=data.WnvPresent

In [137]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

## Normalisasi
Menormalisasi Kolom Latitude dan Longitude pada copy-an dataset menggunakan Min Max Scaler

In [138]:
data_copy=data[:]
print("sebelum:\n",data_copy[["Latitude","Longitude"]])
scaler=MinMaxScaler()
data_copy[["Latitude","Longitude"]]=scaler.fit_transform(data_copy[['Latitude', 'Longitude']])
print("sesudah:\n",data_copy[["Latitude","Longitude"]])

sebelum:
         Latitude  Longitude
0      41.954690 -87.800991
1      41.954690 -87.800991
2      41.994991 -87.769279
3      41.974089 -87.824812
4      41.974089 -87.824812
...          ...        ...
10501  41.763733 -87.742302
10502  41.987280 -87.666066
10503  41.912563 -87.668055
10504  42.009876 -87.807277
10505  41.776428 -87.627096

[10506 rows x 2 columns]
sesudah:
        Latitude  Longitude
0      0.831714   0.325531
1      0.831714   0.325531
2      0.939812   0.404938
3      0.883748   0.265883
4      0.883748   0.265883
...         ...        ...
10501  0.319515   0.472488
10502  0.919129   0.663384
10503  0.718718   0.658403
10504  0.979738   0.309791
10505  0.353567   0.760965

[10506 rows x 2 columns]

## Standarisasi
Melakukan Standarisasi pada Kolom Latitude dan Longitude pada copy-an kedua dari dataset menggunakan StandardScaler

In [139]:
data_copy2=data[:]
print("sebelum:\n",data_copy2[["Latitude","Longitude"]])
scaler = StandardScaler()
data_copy2[["Latitude",'Longitude']]=scaler.fit_transform(data_copy2[['Latitude', 'Longitude']])
print("sesudah:\n",data_copy2[["Latitude","Longitude"]])

sebelum:
         Latitude  Longitude
0      41.954690 -87.800991
1      41.954690 -87.800991
2      41.994991 -87.769279
3      41.974089 -87.824812
4      41.974089 -87.824812
...          ...        ...
10501  41.763733 -87.742302
10502  41.987280 -87.666066
10503  41.912563 -87.668055
10504  42.009876 -87.807277
10505  41.776428 -87.627096

[10506 rows x 2 columns]
sesudah:
        Latitude  Longitude
0      1.007225  -1.047388
1      1.007225  -1.047388
2      1.364706  -0.718799
3      1.179300  -1.294214
4      1.179300  -1.294214
...         ...        ...
10501 -0.686615  -0.439273
10502  1.296307   0.350659
10503  0.633547   0.330050
10504  1.496740  -1.112522
10505 -0.574007   0.754453

[10506 rows x 2 columns]

## Membuat Nilai NULL
Mengubah isi kolom AddressAccuracy pada baris tertentu menjadi nilai NULL

In [140]:
data_copy2.AddressAccuracy[[1,7,19,60,330,212,600]]=None;
data_copy2[data_copy2.isnull().any(axis=1)]

C:\Users\HP\AppData\Local\Temp\ipykernel_8040\2137649424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_copy2.AddressAccuracy[[1,7,19,60,330,212,600]]=None;

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",1.007225,-1.047388,NaN,1,0
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",0.230349,0.473362,NaN,1,0
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",0.443396,0.915432,NaN,1,0
60,2007-06-05,"University of Illinois at Chicago, 1100 South ...",CULEX RESTUANS,11,S ASHLAND AVE,T090,"1100 S ASHLAND AVE, Chicago, IL",0.238945,0.342007,NaN,7,0
212,2007-07-02,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",0.716946,0.702759,NaN,1,0
330,2007-07-11,"South Vincennes Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S VINCENNES,T089,"1000 S VINCENNES, Chicago, IL",-1.046198,0.517441,NaN,1,0
600,2007-07-19,"3800 East 115th Street, Chicago, IL 60617, USA",CULEX TERRITANS,38,E 115TH ST,T215,"3800 E 115TH ST, Chicago, IL",-1.372597,1.743588,NaN,1,0

## Isi Nilai Null Dengan Modus
Data yang bernilai NULL tadi diisi dengan nilai Modus dari dataset menggunakan SimpleImputer

In [141]:
change=SimpleImputer(strategy='most_frequent')
print("modus:",data_copy2.AddressAccuracy.mode())
data_copy2.AddressAccuracy=change.fit_transform(data_copy2[["AddressAccuracy"]])
print(data_copy2.AddressAccuracy[[1,7,19,60,330,212,600]])
print("Apakah ada data kosong:",data_copy2.isnull().any().any())

modus: 0    8.0
Name: AddressAccuracy, dtype: float64
1      8.0
7      8.0
19     8.0
60     8.0
330    8.0
212    8.0
600    8.0
Name: AddressAccuracy, dtype: float64
Apakah ada data kosong: False

## Cleaning Duplikat
Membersihkan nilai duplikat pada dataset menggunakan drop.duplicates() kemudian mereset index.

In [142]:
print("jumlah duplikat sebelum:",data_copy2.duplicated().sum())
data_copy2.drop_duplicates(inplace=True)
data_copy2=data_copy2.reset_index(drop=True)
print("jumlah duplikat sesudah:",data_copy2.duplicated().sum())

jumlah duplikat sebelum: 813
jumlah duplikat sesudah: 0

## Ganti Tipe Data
mengubah data int menjadi object dengan astype()

In [143]:
print("sebelum:",data_copy2.Block.dtype)
data_copy2.Block=data_copy2.Block.astype(str)
print("sesudah:",data_copy2.Block.dtype)

sebelum: int64
sesudah: object

## ONE HOT ENCODING
Melakukan Encoding terhadap kolom Species dengan ONE HOT ENCODING kemudian menggabungkannya dalam satu dataframe

In [160]:
print("sebelum:\n",data_copy2.Species)
Encoder=OneHotEncoder(sparse=False)
data_copy2_spesies=Encoder.fit_transform(data_copy2[['Species']])
data_copy2_spesies=pd.DataFrame(data_copy2_spesies)
data_copy2_print=data_copy2[["Species"]].join(data_copy2_spesies)
print("sesudah:\n",data_copy2_print)

sebelum:
 0       CULEX PIPIENS/RESTUANS
1               CULEX RESTUANS
2               CULEX RESTUANS
3       CULEX PIPIENS/RESTUANS
4               CULEX RESTUANS
                 ...
9688    CULEX PIPIENS/RESTUANS
9689    CULEX PIPIENS/RESTUANS
9690    CULEX PIPIENS/RESTUANS
9691    CULEX PIPIENS/RESTUANS
9692    CULEX PIPIENS/RESTUANS
Name: Species, Length: 9693, dtype: object
sesudah:
                      Species    0    1    2    3    4    5    6
0     CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1             CULEX RESTUANS  0.0  0.0  0.0  1.0  0.0  0.0  0.0
2             CULEX RESTUANS  0.0  0.0  0.0  1.0  0.0  0.0  0.0
3     CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4             CULEX RESTUANS  0.0  0.0  0.0  1.0  0.0  0.0  0.0
...                      ...  ...  ...  ...  ...  ...  ...  ...
9688  CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0
9689  CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0
9690  CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0
9691  CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0
9692  CULEX PIPIENS/RESTUANS  0.0  0.0  1.0  0.0  0.0  0.0  0.0

[9693 rows x 8 columns]