Ayu Lestari Gunawan
2109106054

Mengimport library yang dibutuhkan yaitu pandas

In [22]:
import pandas as pd

Mengakses file dari directory menggunakan pd.read_"jenis file"(yang saya gunakan pd.read_csv)

In [23]:
file=pd.read_csv("dataset.csv")

Memasukkan dimensi dari .shape kedalam 2 variabel berbeda yaitu record untuk baris, attribute untuk kolom. 
Memasukkan nama-nama kolom ke dalam variabel kolom.
Memasukkan jumlah attribute di dalam file yang memiliki jenis data angka kedalam variabel jmlh_objek. 
Memasukkan jumlah attribut yang didalamnya terdapat nilai null ke dalam variabel jmlh_null.

In [24]:
record,attribute=file.shape
kolom=file.columns.values
jmlh_objek=file.select_dtypes(["int","float"]).any().sum()
jmlh_null=file.isnull().any().sum()

Memasukkan ke dalam dictionary {} kemudian menampilkannya satu-persatu

In [25]:
info={"record":record,"kolom":attribute,"nama kolom":list(kolom),"jumlah objek":jmlh_objek,"jumlah null":jmlh_null}

In [26]:
for x in info:
    print(x,":",info[x])

record : 10506
kolom : 12
nama kolom : ['Date', 'Address', 'Species', 'Block', 'Street', 'Trap', 'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy', 'NumMosquitos', 'WnvPresent']
jumlah objek : 6
jumlah null : 0

Menyimpan informasi file dengan tipe angka (int,float) ke dalam variable file_angka, kemudian menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 menggunakan .describe()

In [27]:
file_angka=file.select_dtypes(["int","float"])
file_angka.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

Menampilkan korelasi antara setiap atribut dengan atribut lainnya dengan .corr()

In [28]:
file_angka.corr()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Block,1.000000,0.091110,-0.090375,0.222134,-0.172388,0.004877
Latitude,0.091110,1.000000,-0.701795,0.444026,-0.184806,0.028697
Longitude,-0.090375,-0.701795,1.000000,-0.456775,0.036633,-0.060345
AddressAccuracy,0.222134,0.444026,-0.456775,1.000000,-0.248414,0.008064
NumMosquitos,-0.172388,-0.184806,0.036633,-0.248414,1.000000,0.196820
WnvPresent,0.004877,0.028697,-0.060345,0.008064,0.196820,1.000000

Mengubah tipe data atribut Block, int menjadi float yang didalamnya setiap attribut diubah menjadi format 'X.000'.kemudian menampilkan 10 data pertama menggunakan .head()

In [29]:
file_angka.Block=file_angka.Block.astype("float").apply(lambda x: format(x,".3f"))
file_angka.head(10)

    Block   Latitude  Longitude  AddressAccuracy  NumMosquitos  WnvPresent
0  41.000  41.954690 -87.800991                9             1           0
1  41.000  41.954690 -87.800991                9             1           0
2  62.000  41.994991 -87.769279                9             1           0
3  79.000  41.974089 -87.824812                8             1           0
4  79.000  41.974089 -87.824812                8             4           0
5  15.000  41.921600 -87.666455                8             2           0
6  25.000  41.891118 -87.654491                8             1           0
7  11.000  41.867108 -87.654224                8             1           0
8  11.000  41.867108 -87.654224                8             2           0
9  11.000  41.896282 -87.655232                8             1           0

Menyimpan hasil dari data yang berbentuk angka (int,float) kedalam file csv baru.

In [30]:
file_angka.to_csv(r"HASIL_KB2.csv")